:root {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("https://assets.codepen.io/5283814/water.jpg?format=auto&fit=cover")
}

div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 500px;
  margin: 0px auto;
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border-radius: 1rem;
}

p {
  font-size: 2rem;
  font-family: Helvetica;
  color: #101010;
}